<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory name="hibernateSessionFactory">

		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/restaurante</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">admin</property>

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.current_session_context_class">thread</property>

		<mapping class="br.com.fa7.restaurante.model.Usuario" />
		<mapping class="br.com.fa7.restaurante.model.Funcionario" />
		<mapping class="br.com.fa7.restaurante.model.Cliente" />
		<mapping class="br.com.fa7.restaurante.model.Loja" />
		<mapping class="br.com.fa7.restaurante.model.EspecificacaoItem" />	
		<mapping class="br.com.fa7.restaurante.model.Pedido" />
		<mapping class="br.com.fa7.restaurante.model.Pagamento" />
		<mapping class="br.com.fa7.restaurante.model.ItemPedido" />
	</session-factory>

</hibernate-configuration>
