<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1,
maximum-scale=1, user-scalable=no">
<title>Trabalho - Persistência com Frameworks</title>
<script src="js/lib/angular.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
	<div class="container" data-ng-app="app">
		<div class="page-header">
			<h3>Cadastro de Pedido</h3>
		</div>
		<form id="form" name="form" class="form-horizontal"
			data-ng-controller="pedidosEditarCtrl"
			data-ng-submit="form.$valid && salvar()" novalidate>
			<input type="hidden" id="id" name="id" data-ng-model="pedido.id" />
			<div class="row">
				<div class="col-md-12">
					<div id="global-message" class="alert text-center" role="alert"
						hidden></div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<label for="controle" class="control-label col-md-2">Mesa*:</label>
					<div class="col-md-6">
						<input type="text" class="form-control" id="controle"
							name="controle" data-ng-model="pedido.controle" placeholder="9"
							maxlength="6" title="Mesa do Pedido" required />
					</div>
					<span id="controle-message" class="text-danger col-md-4" hidden></span>
				</div>

				<div class="form-group">
					<label for="observacao" class="control-label col-md-2">Observação:</label>
					<div class="col-md-6">
						<textarea class="form-control" id="observacao" name="observacao"
							data-ng-model="pedido.observacao"
							placeholder="Observação do Pedido" maxlength="500"></textarea>
					</div>
					<span id="observacao-message" class="text-danger col-md-4" hidden></span>
				</div>

				<div class="form-group">
					<label for="produto" class="control-label col-md-2">Produtos*:</label>
					<div class="col-md-6">
						<div class="checkbox" data-ng-repeat="item in itensCardapio">
							<label title="{{item.especificacaoItem.descricao}}"> <input
								type="checkbox" id="produto{{$index}}" name="produto{{$index}}"
								data-ng-model="itensSelecionados"
								data-ng-click="alternarItem(item)" data-ng-checked="item.id">
								{{item.especificacaoItem.nome}} - <em>{{item.especificacaoItem.preco
									| currency}}</em>
							</label> <input type="number" id="quantidade{{$index}}"
								name="quantidade{{$index}}" data-ng-model="item.quantidade"
								placeholder="9" maxlength="3" title="Quantas unidades?"
								data-ng-change="calcularTotal()" min="0">
						</div>
						<br /> <b>Total:</b> <em style="color: orange;">{{total |
							currency}}</em>
					</div>
					<span id="produto-message" class="text-danger col-md-4" hidden></span>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-10 col-md-offset-2">
					<a class="btn btn-primary" href="pedidos-listar.html"> <span
						class="glyphicon glyphicon-menu-left"></span> Voltar
					</a> <input type="submit" id="salvar" name="salvar" value="Salvar"
						class="btn btn-success" />
					<button id="excluir" name="excluir" class="btn btn-danger"
						type="button" data-ng-click="remover()" data-ng-show="pedido.id">
						<span class="glyphicon "></span> Excluir
					</button>
				</div>
			</div>
		</form>
	</div>

	<script src="js/lib/jquery.js"></script>
	<script src="js/lib/bootstrap.js"></script>
	<script src="js/api/app.js"></script>
	<script src="js/ctrl/utils-editar.js"></script>
	<script src="js/api/itens-proxy.js"></script>
	<script src="js/api/pedidos-proxy.js"></script>
	<script src="js/ctrl/pedidos-editar.js"></script>
</body>
</html>